.footer {
  flex: 0 0 auto;
  background-color: #0f2233;
  color: $wc;
  @media (max-width: 575.98px) {
    background: none;
  }

  &__content {
    @media (max-width: 767.98px) {
      background-color: #0f2233;
    }

  }

  &__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    @media (max-width: 991.98px) {
      width: auto;
    }
    @media (max-width: 575.98px) {
      flex-direction: column;
    }

    a {
      color: $wc;
      font-size: 18px;
      text-decoration: none;
    }

    .phone {
      @media (max-width: 575.98px) {
        margin-bottom: 15px;
      }
      a {
        transition: $tr;

        &:hover {
          color: $gc;
        }
      }
    }
  }

  &__copyright {
    width: 100%;
    max-width: 100%;
    text-align: right;
    cursor: default;
    @media (max-width: 991.98px) {
      width: auto;
    }

    p {
      color: $wc;
      margin: 0;
      font-size: 14px;
    }
  }
}